@model MovieProject.Models.MovieBooking

@{
    ViewBag.Title = "DeleteBooking";
}

<h2>DeleteBooking</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MovieBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberofSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberofSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movietable.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movietable.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScreenTable.ScreenId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScreenTable.ScreenId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "GetBooking")
        </div>
    }
</div>
